div{
    display: inline-block;
    background: linear-gradient(to bottom,white 0%,white 55%,green 30%,green 30%,green 30%);
    width: 300px;
    height: auto;
    border: 5px solid black;
    border-radius: 10%;
}

img{
    border-radius: 50%;
    width: 100px;
    height: auto;
    transform: translate(0px, 0px);
}

body{
    text-align: center;
}

p{
    color:grey;
}

h3{
    color:grey;
}
h2{
    color:white;
}