body{
    text-align: center;
    height: 100%;
    
}
html{
    text-align: center;
    height: 90%;
}
header{
    position: relative;
    height: 10%;
    width: 100%;
 

    background-image: url(webpage.jpg);
    background-size: 50% 100%;

    overflow: hidden;
}
.toate {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(253, 253, 253);
    
    
  }
.pls{
    position:absolute;
    top:12%;
    right:2%;
    border:none;
    font-size:40px;
    font-family:"Comic Sans MS";
    background-color:transparent;
    color:white;
}
.table {
    background-color: #f1f1f1;
    width: 200px;
    margin: 30px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border:2px solid #ccc;

  }

  .dropMenu{
    background-image: url(dropMenu.png);
    background-size: cover;
    /* background-repet: no-repeat; */
    position: absolute;
    width: 33%;
    height: 40%;
    display: none;
    top: 8%;
    right:0;

}

.dropMenu a{
    display:block;
    /* background-image:url("background.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat; */
    color: black;
    text-decoration:none;
    width:100%;
    margin-bottom:10%;
    border-radius:20%;
    height:30px;
    font-family:"Arial";

    position: relative;
    top: 20%;
    
}

.dropMenu.is--open{
    display:block;
    opacity: 1;
}


.culoare{
    background-image:url(webpage.jpg);
    color: rgb(54, 32, 6);
    position: relative;
    
}
.toate .table a{
    display: block;
    text-decoration: none;
    color:  rgb(54, 32, 6);
    
}
#buton{
    position: relative;
}
.toate #generateButton{

    border:1.5px solid black;
    border-radius: 15%;
    position: absolute;
    font-size: 90%;
    margin-top:10px;
    text-decoration: none;
    color:  rgb(54, 32, 6);
    right: 10%;
    top:100%;
    padding: 0.5%;
    background: rgb(221, 109, 4);
}
#save{

    border:1.5px solid black;
    border-radius: 15%;
    position: relative;
    font-size: 80%;
    text-decoration: none;
    color:  rgb(54, 32, 6);
    left: -54%;
    bottom: -10%;
    padding: 0.5%;
    background: rgb(221, 109, 4);
    cursor: pointer;
}
@media screen and (min-width: 500px) and (max-width: 800px) {
    .toate .div {
        width: 49%;
        margin-right: 2%;
    }
    .toate .div:nth-of-type(2n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 800px) {
    .toate .div {
        width: 32%;
        margin-right: 2%;
    }

    .toate .div:nth-of-type(3n) {
        margin-right: 0;
    }
}

header #buttonImg{
    /* setUp for position in header */
    position: absolute;
    right: -5.5%;
    height: 250%;
    top: -70%;
    width: 15%;


    /* setUp for image in button
    background-image: url(avatarIcon.png);
    background-size: cover;
    background-color: transparent;
    text-decoration: none;
    border: none;
    */
    outline: 0;
}


.interior{

    display: inline-block;
    background-color:white;
    width: 95%;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3%;
    position:relative;
    top: 22%;
    left: 2.5%;
}

.stanga{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: cover;
    background-color: white;
    background-repeat:no-repeat;
    width: 30%;
    height: 90%;
    position:absolute;
    left:5%;
    top:5%;
    border-radius: 3%;
}

.elements img{
    position: absolute;
    top: 10%;
    left: 13%;
    height: auto;
    width: 70%;
    margin-bottom: 10%;
}
h2{
    position: absolute;
    top: 50%;
    left: 10%;
    color:white;
    border: 10px 0 10px 0;
    background-image: url(background.jpg);
    background-size: 50% 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 130%;
}
.dreapta{   
    width: 30%;
    height: 90%;
    position:absolute;
    left:50%;
    top:1%;
    border-radius: 3%;
    background: transparent !important;
}

.dreapta .btn{
    border-radius: 10px 0 10px 0;
    border: 1px solid white;
    background-image: url(background.jpg);
    background-size: 50% 100%;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: 13%;
    padding-top: 3%;
}

.buttonBeginPress{
    background-image: url(webpage.jpg);
    display: none;
    border: 1px solid black;
    text-align: center;
    position:absolute;
    left:50%;
    transform: translateX(-50%);

}

.buttonBeginPress input{
    display: none;
    margin-bottom: 2%;
}

.buttonBeginPress button{
    display: none;
    background: transparent;
    color: white;
    border: 1px solid white;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}

.buttonBeginPress.buttonAfterPress{
    display: inline-block;
}

.buttonBeginPress.buttonAfterPress input{
    display: block;
}
.buttonBeginPress.buttonAfterPress button{
    display: inline-block;
}

#columnsOfTable{
    background-image:url(webpage.jpg);
    position:absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    height:30%;
    overflow-y:auto;
    border:2px solid #ccc;
}

.columnsOfTable-hidden{
    display:none;
}

#columnsOfTable tr,
#columnsOfTable td{
    padding:10px;

}

#columnsOfTable button{
    margin:10px;
    color:white;
    background-color:transparent;
    border:1px white solid;
}