body,
html{
    text-align: center;

    background-size:100% 100%;
    background-image: url(background.jpg);
    background-repeat:no-repeat;

    height: 100%;
    position: fixed;
    width: 100%;
}

.allForm{
    display: inline-block;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    background-image: url(frame.jpg);
    background-size:100% 100%;
    background-repeat:no-repeat;

    position: relative;
    width: 65%;
    text-align: center;
    margin-top: 5%;
}

h3{  
    margin-top: 40%;
    color: white;
    margin-bottom:25%;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 180%;
}
.signIn #username,
.signIn #loginPass{
    border-radius: 20px 0 20px 0;
   
    width: 80%;
    margin-left: 10%;
    height: 60px;
    outline: 0; 
    border: 1px solid white;
    background-color: transparent;

}
::placeholder{
    color: white;
    padding-left: 5%;
    font-size: 135%;

    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
}
/* Style for placeholder */
input {
    color:white;
}

input:focus, textarea:focus{
    color:white;
    padding-left: 5%;
}

::placeholder-shown{
    color: white;
}

[placeholder]:focus::-webkit-input-placeholder{
    transition: opacity 0.4s 0.4s ease; 
    opacity: 0;
}

#username{
    display: block;
    margin-bottom: 20px;
}

#loginPass{
    display: block;
    margin-bottom: 20px;
}

#buttonLogin{
    display: inline-block;
    border: none;
    text-decoration: none;
    background-image: url(submitButton.png);
    background-color: transparent;
    background-size: cover;
    
    background-repeat: no-repeat;

    
    height: 70px; 
    width: 70px; 
    margin-bottom:55%;
    margin-top:15%; 
    box-sizing: content-box;
}

.register a{
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 130%;
}