body
{
    height:100%;
    min-height:100%;
    width:100%;
    max-height:1020px;
    margin:0;
    background-size:100% 100%;
    background-image: url(background.jpg);
    background-color:#44174E;
    background-repeat:no-repeat;

}
html
{
    height:100%;
    min-height:100%;
    max-height:1020px;
    width:100%;
    margin:0;
     background-size:100% 100%;
    background-image: url(background.jpg);
    background-color:#44174E;
    background-repeat:no-repeat;

}



.name{
    background: transparent;
    border: 1px solid white;
    height: 30px;
    margin-bottom: 10%;

    width: 100%;

}

::placeholder{
    color:white;
    padding-left: 2%;
}

name
{
    color:white;
}

.labelType{
    display: block;
    color: white;

    position: relative;
    left:-6%;
    margin-bottom: 5%;
}

.labelType #options{
    width: 65.5%;

}

.size{
   display: block;
   color: white;
   left:2%;
   position: relative;
   text-align: left;
   
   margin-bottom: 5%;
}

.size #size{
    width: 17.5%;

    position: relative;
    left: 2%;
}
.null{
    display: block;
    color: white;
    left:2%;
    position:relative;
    margin-bottom: 25%;
    text-align: left;
    

}

a,
button{
    height: 15%;

    text-decoration: none;
    border: 1px solid white;
    background: transparent;

    color: white;
    padding:5%;
}

p {
    position:relative;
    text-align: center;
    color:white;
    
}

img{
    width: 60%;
    height: auto;

    position: absolute;
    bottom: -10%;
    left: -10%;
}






