body
{
    height:100%;
    min-height:100%;
    width:100%;
    margin:0;
    background-size:100% 100%;
    background-image: url(background.jpg);
    background-repeat:no-repeat;
    background-color:#44174E;
   
}
html
{
    height:100%;
    min-height:100%;
    width:100%;
    margin:0;
     background-size:100% 100%;
    background-image: url(background.jpg);
    background-repeat:no-repeat;
    background-color:#44174E;
   
}
.box 
{   
    background-size:100% 100%;
    background-image: url(frame.jpg);
    background-repeat:no-repeat;
    min-height:75%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:center;
    padding:10%;
    margin:10%;

    position: relative;
}
header{
    padding-top:5%;
}
.op{
    margin-left:30%;
    margin-top:10px;
    margin-bottom:10px;
    font-size:20px;
    display:block;
}
.box a
{
    
    display:block;
    background-color:transparent;
    border:1px solid white;
    color:white;
    text-decoration:none;
    width:100%;
    margin-bottom:10%;
    border-radius:10px;
    height:30px;
    font-family:"Arial";
    padding-top:7px;
    outline:none;
    
}

.box p
{
    font-size:180%;
    color:white;
    font-family:"Comic Sans MS";
}
.clb{
    color:white;
    font-family:"Arial";

    background-color:transparent;
    border:2px white solid;
    border-radius:10px;
    padding:3%;
    outline:0;
    margin-left:3%;
    margin-right:3%;
    width:15%;
    font-weight:bold;

    
}
.tlt{
    height:20px;
    border-radius:6%;
}
.tlt2{
    height:20px;
    width:40px;
    border-radius:6%;
}
.msgScc.is--open{
    display:block;
}
.clb.is--open{
    border:2px solid green;
    color:green;
    background-image:none;
    background-color:transparent;
    opacity:0.5;
}

#nmn
{
    display:inline-block;
    width:50%;
}

select
{
    transform:translateX(-50%);
    width:50%;
    color:grey;
}

input{
    display:block;
    margin-bottom:5%;
  
}

.bottom
{
    transform:translateX(5%); 
    position:relative;
}

span
{
    color:white;
    position:absolute;
    left:10%;
    bottom:-5%;
   
}
