body{
    text-align: center;
}

.square{
    border-radius: 20%;
    border: 1px solid black;
    height: 300px;
    width: 300px;

    background-image: linear-gradient(to right, green , white,green);
}

h4{
    position: relative;
    right: 60px;
    top: 15px;
}
#username{
    display: block;
    position: relative;
    left: 50px;
    border-radius: 5px;
}
#loginPass{
    display:block;
    position: relative;
    left: 50px;
    border-radius: 5px;
}

#buttonS{
    position: relative;
    top:15px;
    right: 13px;

    box-sizing: content-box;
    width: 158px;
    height: 30px;
    background-color: blue;
    color:white;
}

#buttonS:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) )
}