html
{
    height:100%;
    min-height:120%;
    width:100%;
    margin:0;
     background-size:100% 100%;
    background-image: url(background.jpg);
    background-repeat:no-repeat;
   
}

body
{
    height:100%;
    min-height:100%;
    width:100%;
    margin:0;

    background-size:100% 100%;
    background-image: url(background.jpg);
    background-repeat:no-repeat;
  

}

.box 
{   
    background-size:100% 100%;
    background-image: url(../loginBeta_v2/1.jpg);
    background-repeat:no-repeat;
    min-height:75%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align:center;
    padding:5%;
    color:white;
    
    margin-top:10%;
    margin-left:10%;
    margin-right:10%;

    /* overflow-y: scroll; */

    position: relative;
}
table{
    width:96%;
    border-collapse:collapse;
    
}

.box p
{
    font-size:180%;
    color:white;
    font-family:"Comic Sans MS";
}

header{
    padding-top:1%;
    margin-left:3%;
}
button{
   
    color:white;
    font-family:"Arial";

    background-color:transparent;
    border:1px white solid;
    border-radius:10px 0 10px 0;
    padding:10px;
    outline:0;
    text-decoration:none;
    margin-top:5%;
    
}

button:focus
{
    transform: scale(1.2);
}

h4{
    margin-bottom:0;
    font-size:130%;
    text-align:left;
}

table,th,tr{
    font-size:16px;
    font-family:"Arial";
    font-weight:100;
    border:1px solid white;
    margin:2%;
    color:white;
}
th, tr{
}