body,
html{
    
}

/* Arrange in page */
.allPage{
    
    position: absolute;
    height: 100%;
    width: 100%;

    background-image: url(webpage.jpg);
    background-size: 50% 100%;
}

/* That is a flex */
.allPage .upSideForm{
    display: flex;
    border: 1px solid white;
    height: 50%;
}

.allPage .upSideForm .tableStructure{
    border: 1px solid white;
    width: 49.9%;

    display: block;
}

.hideTS{
    display: none;
}

.hideIndexes{
    display: none;
}

.hideTriggers{
    display: none;
}

.hideViews{
    display: none;
}

.hideForeign{
    display: none;
}

.hideNew{
    display: none;
}

.hideSD{
    display: none;
}

.hideID{
    display: none;
}
#tableStructures{
    background-image: url(tableStructure.jpg);
    background-size: cover;
}

#Triggers{
    background-image: url(Triggers.jpg);
    background-size: cover;
}
#Indexes{
    background-image: url(Indexes.png);
    background-size: cover;
}
#Views{
    background-image: url(Views.jpg);
    background-size: cover;
}
#Foreign{
    /* width: 100%;
    height: 100%; */
    
    background-image: url(Foreign.jpg);
    background-size: cover;
}

#selectData{
    background-image: url(selectData.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#insertData{
    background-image: url(insertData.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#addNew{
    background-image: url(addNew.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* That is a flex */
.allPage .upSideForm .rightForm{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    border: 1px solid white;
    width: 100%;

}

.allPage .upSideForm .rightForm .columnUpRight{
    border: 1px solid white;
    width: 49.75%;
}

/* That is a flex */
.allPage .downSideForm{
    display: flex;
    /* border: 1px solid black; */
    height: 100%;
    width: auto;

    flex-wrap: wrap;
}

.allPage .downSideForm .columnDownSide{
    border: 1px solid white;
    width: 33%;
}

/* Resize */
@media screen and (max-width: 1200px){
    .allPage .upSideForm .rightForm{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        border: 1px solid white;
        width: 100%;
    }

    .allPage .upSideForm .tableStructure{
        border: 1px solid white;
        width: 50%;
    
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }


}



#addTS,
#addIndexes, #addTriggers, #addForeign, #addViews,
#addSD, #addID, #buttonAddNew{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70%;

    outline: 0;
    cursor: pointer;
    text-decoration: transparent;
    background-color: transparent;
    border: none;
    /* border: 1px solid white; */
    padding: 1%;
    color:white;

    position: relative;
    /* left: 1%; */
}

#cancelTS,
#cancelIndex, #cancelTriggers, #cancelForeign, #cancelView,
#cancelSD, #cancelID, #cancelNew{
    
    /* design margin*/
    outline: 0;
    cursor: pointer;
    text-decoration: transparent;
    background-color: transparent;
    border: none;
    /* border: 1px solid white; */
    padding: 1%;
    color:white;

    /* design text */
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70%;

    display: inline-block;
}

/* Action for every buttons, hide & show */
#buttonsTS{

}

/* Design for interor of boxes */
.elementTable{
    display: flex;
    color: white;

}

.typeAttribute{
    display: inline-flex;
    color: white;
}

#labelTypeIndexes{
    width: 100%;
}

#labelAttributesIndexes{
    width: 98.5%;
}

.Elements{
}

#labelSize{
    width: 100%;
}

#checkboxNULL{
    width: 85%;
}


