<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../css/desktopQueries.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <header>
        <input type="image" src="../css/avatarIcon.png" id="buttonImg" alt="buttonImg">
    </header>
    <div class="dropMenu">
        <div class="interior">
            <div class="stanga">
                <div class="elements">
                    <img class="profile" src="../css/captain.png" alt="profileIcon" width="50" height="50">
                    <h2>Steve Roger</h2>
                </div>
            </div>
            <div class="dreapta">
                <a class="btn" href="desktopLogin.html"> Logout </a>
                <a class="btn" href="dekstopChangePass.html"> Change password </a>
                <a class="btn" href="desktopDatabases.html"> Databases</a>
            </div>
        </div>
    </div>
    <div class="toate">
        <div class="table">
            <p class="culoare">Procedure1</p>
            <textarea rows="15" cols="50">

                    </textarea>
            <br>
            <button type="submit" class="generate"> Generate code </button>
            <button type="submit" class="save"> Save </button>
            <button type="submit" class="delete"> Delete </button>
        </div>
        <div class="table">
            <p class="culoare">Procedure2</p>
            <textarea rows="10" cols="50">

                        </textarea>
            <br>
            <button type="submit" class="generate"> Generate code </button>
            <button type="submit" class="save"> Save </button>
            <button type="submit" class="delete"> Delete </button>
        </div>
        <div class="table">
            <p class="culoare">Procedure3</p>
            <textarea rows="10" cols="50">

                        </textarea>
            <br>
            <button type="submit" class="generate"> Generate code </button>
            <button type="submit" class="save"> Save </button>
            <button type="submit" class="delete"> Delete </button>
        </div>
        <div class="table" id="buton">
            <p class="culoare">Procedure4</p>
            <textarea rows="10" cols="50">

                        </textarea>
            <br>
            <button type="submit" class="generate"> Generate code </button>
            <button type="submit" class="save"> Save </button>
            <button type="submit" class="delete"> Delete </button>
        </div>

    </div>
    <script src="../js/main.js"></script>
</body>

</html>