<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="app/views/css/desktopQueries.css">
    <link rel="stylesheet" type="text/css" href="app/views/css/header.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <script src="app/views/js/redirect.js">
    </script>
    <header>
        <input type="image" src="app/views/css/avatarIcon.png" id="buttonImg" alt="buttonImg">
    </header>
    <div class="dropMenu">
        <div class="interior">
            <div class="stanga">
                <div class="elements">
                    <img class="profile" src="app/views/css/captain.png" alt="profileIcon" width="50" height="50">
                    <h2>Steve Roger</h2>
                </div>
            </div>
            <div class="dreapta">
                <a class="btn" href="desktopLogin.html"> Logout </a>
                <a class="btn" href="dekstopChangePass.html"> Change password </a>
                <a class="btn" href="desktopDatabases.html"> Databases</a>
            </div>
        </div>
    </div>



    <div class="toate">
        <div class="table">
            <p class="culoare">Function1</p>
            <textarea rows="15" cols="50" id="functionOneArea">

            </textarea>
            <!-- Adaugam un div pentru test -->
            <!-- <div class="result" id="schemaResult"> <button class="closeButton">✖</button> <p id="stextResult"></p></div> -->
            <br>
            <button type="submit" class="generate"> Generate code </button>
                <button type="submit" class="save"> Save </button>
                    <button type="submit" class="delete"> Delete </button>
        </div>
        <div class="table">
            <p class="culoare">Function2</p>
            <textarea rows="10" cols="50">

             </textarea>
             <br>
            <button type="submit" class="generate"> Generate code </button>
                <button type="submit" class="save"> Save </button>
                    <button type="submit" class="delete"> Delete </button>
        </div>
        <div class="table">
            <p class="culoare">Function3</p>
            <textarea rows="10" cols="50">

            </textarea>
            <br>
            <button type="submit" class="generate"> Generate code </button>
                <button type="submit" class="save"> Save </button>
                    <button type="submit" class="delete"> Delete </button>
        </div>
        <div class="table" id="buton">
            <p class="culoare">Function4</p>
            <textarea rows="10" cols="50">

            </textarea>
            <br>
            <button type="submit" class="generate"> Generate code </button>
                <button type="submit" class="save"> Save </button>
                    <button type="submit" class="delete"> Delete </button>
        </div>

    </div>
    <script src="app/views/js/main.js"></script>
    <script src="app/views/js/desktopFunction.js"></script>
</body>

</html>