<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="app/views/css/desktopDatabases.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
     
    <header>
            <input type="image" src="app/views/css/avatarIcon.png" id="buttonImg" alt="buttonImg">
            
    </header>

    <script src="app/views/js/desktopDatabases.js">
    </script>

    
   
    <!--
   Check if js is useful
            <button onclick="AddEl();return false;" id="generate"> Add </button>
        
    <script src="../js/some.js">
    </script>
    -->
</body>

</html>