<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/desktopLogin.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  
        <div class="interior">
            <div class="stanga">
                <a href="https://www.facebook.com/">
                    <img class="imgf" src="../css/facebookButton.png" alt="facebookIcon" width="50" height="50">
                </a>
            </div>
            <div class="dreapta">
                <form class="signIn" action="../../account_service/controllers/home.php" method="POST">
                        <h4>TYPE YOUR EMAIL</h4>
                        <input type="email" id="username" name="email" placeholder="Email*" required>
    
                        <button type="submit" id="buttonLogin" name="submit" value="RECOVER"></button>
                        <footer class="register">
                                <a href="desktopLogin.html">Return to homepage.</a>
                                
                            </footer>
                </form>
            </div>
        </div>
   
    
</body>
</html>