<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="app/views/css/desktopMainPage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body style="overflow: hidden">
    <!-- <script src="../js/collab.js"> -->
    <!-- </script> -->
    <script src="app/views/js/redirect.js">
    </script>
    <header>
        <input type="image" src="app/views/css/avatarIcon.png" id="buttonImg" alt="buttonImg">
        <div class="buttonHead">
            <button class="run" id="runBtn">
                <img src="app/views/css/arrowRun.png" alt="runImage" id="run">
                <span id="runSpan">Run</span>
            </button>

            <button class="run" id="saveBtn">
                <img src="app/views/css/saveDisk.png" alt="runImage" id="save">
                <span id="saveSpan">Save</span>
            </button>

            <button class="run" id="generateButton">
                <img src="app/views/css/generatePhoto.png" alt="runImage" id="generate">
                <span id="generateSpan">Generate</span>
            </button>
            <select id="selectDatabase"> </select>

            <button onclick="eveniment()">
                Useaza!
            </button>
        </div>
    </header>

    <aside class="leftMenu">
        <img src="app/views/css/collaborateText.png" alt="collImg" id="collaborateImg">

        <img src="app/views/css/logo.png" alt="logo" id="logoAside">

        <button class="collaborate">
            <img src="app/views/css/collaborate.png" alt="collaborateImage" id="collaborate">
            <span id="collaborateSpan">Collaborate</span>
        </button>

    </aside>

    <aside class="rightSide">
        <textarea id="leftArea"
        placeholder="SCHEMA SQL: CREATE/ INSERT/ UPDATE/.."></textarea>

        <textarea id="rightArea"
        placeholder="Query SQL"></textarea>

        <div class="result" id="schemaResult"> 
            <button class="closeButton">✖</button> 
            <p id="stextResult"></p>
        </div>
        <div class="result" id="queryResult"> 
            <button class="closeButton">✖</button> 
            <p id="qtextResult"></p>
        </div>
    </aside>

    <div class="dropMenuGenerate">
        <button >
            <img src="app/views/css/java.png" alt="javaPhoto" id="java">
        </button>
        <button >
            <img src="app/views/css/php.png" alt="javaPhoto" id="php">
        </button>
    </div>
    <div class="dropMenu">
        <div class="interior">
            <div class="stanga">
                <div class="elements">
                    <img class="profile" src="app/views/css/captain.png" alt="profileIcon" width="50" height="50">
                    <h2>Steve Roger</h2>
                </div>
            </div>
            <div class="dreapta">
                <a class="btn" href="app/account_service/controllers/home.php?submit=true"> Logout </a>
                <a class="btn" href="app/views/html/desktopChangePass.html"> Change password </a>
                <a class="btn" id="dbLink" href="app/views/html/desktopDatabases.html"> Databases</a>
            </div>
        </div>
    </div>

    <div class="Invitation">
        <input type="email" placeholder="E-mail Of Collaborater" id="inviteMail" required>
        <button type="submit" id="buttonInvite" onclick="invita()">Send Invitation</button>
    </div>

    <footer></footer>




     <script src="app/views/js/main.js"></script>
     <script src="app/views/js/dropMenu.js"></script>
     <script src="app/views/js/desktopMainPage.js"></script> 
     <script src="app/views/js/collab.js"></script>

</body>

</html>