<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../css/desktopMainPage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body style="overflow: hidden">
    <header>
        <input type="image" src="../css/avatarIcon.png" id="buttonImg" alt="buttonImg">
        <div class="buttonHead">
            <button class="run">
                <img src="../css/arrowRun.png" alt="runImage" id="run">
                <span id="runSpan">Run</span>
            </button>

            <button class="run">
                <img src="../css/saveDisk.png" alt="runImage" id="save">
                <span id="saveSpan">Save</span>
            </button>

            <button class="run" id="generateButton">
                <img src="../css/generatePhoto.png" alt="runImage" id="generate">
                <span id="generateSpan">Generate</span>
            </button>
        </div>
    </header>

    <aside class="leftMenu">
        <img src="../css/collaborateText.png" alt="collImg" id="collaborateImg">

        <img src="../css/logo.png" alt="logo" id="logoAside">

        <button class="collaborate">
            <img src="../css/collaborate.png" alt="collaborateImage" id="collaborate">
            <span id="collaborateSpan">Collaborate</span>
        </button>

    </aside>

    <aside class="rightSide">
        <textarea id="leftArea" 
        placeholder="SCHEMA SQL: CREATE/ INSERT/ UPDATE/.."></textarea>

        <textarea id="rightArea" 
        placeholder="Query SQL"></textarea>
    </aside>

    <div class="dropMenuGenerate">
        <a href="">
            <img src="../css/java.png" alt="javaPhoto" id="java">
        </a>
        <a href="">
            <img src="../css/php.png" alt="javaPhoto" id="php">
        </a>
    </div>
    <div class="dropMenu">
        <div class="interior">
            <div class="stanga">
                <div class="elements">
                    <img class="profile" src="../css/captain.png" alt="profileIcon" width="50" height="50">
                    <h2>Steve Roger</h2>
                </div>
            </div>
            <div class="dreapta">
                <a class="btn" href="../../account_service/controllers/home.php?submit=true"> Logout </a>
                <a class="btn" href="desktopChangePass.html"> Change password </a>
                <a class="btn" href="desktopDatabases.html"> Databases</a>
            </div>
        </div>
    </div>

    <div class="Invitation">
        <input type="email" placeholder="E-mail Of Collaborater" id="inviteMail" required>
        <button type="submit" id="buttonInvite">Send Invitation</button>
    </div>

    <footer></footer>
    <script src="../js/main.js"></script>
    <script src="../js/dropMenu.js"></script>


</body>

</html>