<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../css/desktopDatabases.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <header>

    </header>
    <div class="toate" id="idToate">
        <div class="table">
            <p class="culoare">DataBase1</p>
           
                <button id="save"> Delete </button>
                <button id="code"> Generate code </button>
           

        </div>
        <div class="table">
            <p class="culoare">DataBase2</p>
                <button id="save"> Delete </button>
                <button id="code"> Generate code </button>
            
        </div>
        <div class="table">
            <p class="culoare">DataBase3</p>
                 <button id="save"> Delete </button>
                <button id="code"> Generate code </button>
        </div>
        <div class="table" id="buton">
            <p class="culoare">DataBase4</p>
                <button id="save"> Delete </button>
                <button id="code"> Generate code </button>
            <button onclick="AddEl();return false;" id="generate"> Add </button>
        </div>

    </div>
    <script src="../js/some.js">
    </script>
</body>

</html>