<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="app/views/css/desktopDatabase.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <input type="image" src="app/views/css/avatarIcon.png" id="buttonImg" alt="buttonImg">
        
    </header>

    <div class="dropMenu">
        <div class="interior">
            <div class="stanga">
                <div class="elements">
                    <img class="profile" src="app/views/css/captain.png" alt="profileIcon" width="50" height="50">
                    <h2>Steve Roger</h2>
                </div>
            </div>
            <div class="dreapta">
                <a class="btn" href="app/views/html/desktopLogin.html"> Logout </a>
                <a class="btn" href="app/views/html/desktopChangePass.html"> Change password </a>
                <a class="btn" href="app/views/html/desktopDatabases.html" id="databasesLink"> Databases</a>
            </div>
        </div>
    </div>


    <div class="toate">
        <div class="table" id="tabele">
            <p class="culoare">Tables
                <button onclick="Crt1();return false;" type="submit" class="pls">+</button>
            </p>
               
        </div>
        <div class="table" id="queri">
            <p class="culoare">Queries
                    <button onclick="Crt2();return false;" type="submit" class="pls">+</button>
            </p>
              
        </div>
        <div class="table" id="prceds">
            <p class="culoare">Procedures
                    <button onclick="Crt3();return false;" type="submit" class="pls">+</button>
            </p>
               
        </div>
        <div class="table" id="buton">
            <p class="culoare">Functions
                    <button onclick="Crt4();return false;" type="submit" class="pls">+</button>
            </p>
              
                <a href="app/views/htmldesktopDatabaseGenerate.html" id="generateButton"> Generate code </a>
        </div>
        
    </div>  
    
    <script src="app/views/js/desktopDatabase.js">
    </script>  
</body>
</html>