<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="app/views/css/desktopDatabase.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <header>
        <input type="image" src="app/views/css/avatarIcon.png" id="buttonImg" alt="buttonImg">

    </header>

    <div class="dropMenu">
        <div class="interior">
            <div class="stanga">
                <div class="elements">
                    <img class="profile" src="app/views/css/captain.png" alt="profileIcon" width="50" height="50">
                    <h2>Steve Roger</h2>
                </div>
            </div>
            <div class="dreapta">
                <a class="btn" href="app/views/html/desktopLogin.html"> Logout </a>
                <a class="btn" href="app/views/html/desktopChangePass.html"> Change password </a>
                <a class="btn" href="app/views/html/desktopDatabases.html" id="databasesLink"> Databases</a>
            </div>
        </div>
    </div>


    <div class="toate">
        <div class="table" id="tabele">
            <p class="culoare">Tables
                <button id="buttonAddTables" class="pls">+</button>
            </p>

        </div>
        <div class="table" id="queri">
            <p class="culoare">Queries
                <button"  class="pls">+</button>
            </p>

        </div>
        <div class="table" id="prceds">
            <p class="culoare">Procedures
                <button  class="pls">+</button>
            </p>

        </div>
        <div class="table" id="buton">
            <p class="culoare">Functions
                <button id="buttonAddFunctions" class="pls">+</button>
            </p>

            <a href="app/views/htmldesktopDatabaseGenerate.html" id="generateButton"> Generate code </a>
        </div>

    </div>

    <!-- here aduagam clasa pentru pop-ul de pe + -->
    <div class=buttonBeginPress>
        <h4>insert Table into DB</h4>
            <input id="nameTable" placeholder="Table Name" required>
            <input id="numberColumns" type="number" placeholder="Number Of Columns">
            <button id="addTable">Insert</button>
            <button id="closeButton" type="button">Close</button>
      
    </div>

    <div  id="columnsOfTable" class="hidden" >
        <h4 id="tableTitle"> </h4>
        <table id="tableToCreateTable">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Length</th>
                <th>Null</th>
            </tr>

        </table>

        <button id="createTable">Create table</button>

    </div>

    <div id="addFunctionDiv" class="hidden">
        <h4> Choose details for your function</h4>
        <div>
            <label for="functionName"> Function name </label>
            <input type="text" id="functionName">
        </div>
        <div>
            <label for="numberOfParameters"> Number of parameters</label>
            <input type="number" id="numberOfParameters">
        </div>
        <div>
                <label for="returnType"> Return type</label>
                <select id="returnType">
                    <option value="INT">INT</option>
                    <option value="VARCHAR">VARCHAR</option>
                    <option value="TEXT"> TEXT</option>
                    <option value="DATE"> DATE</option>
                </select>
        </div>
        <button id="showMoreOptionsFunction"> Insert </button>

    </div>

    <div id="createFunctionDiv" class="hidden">
            <label for="tableToCreateFunction">Parameters of function</label>
            <table id="tableToCreateFunction">
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
        
            </table>
            <div>
                <label for="bodyText"> Body of function </label>
                <textarea id="bodyText"></textarea>
            </div>
            <button id="btnCreateFunction"> Create function</button>

    </div>


    <script src="app/views/js/desktopDatabase.js">
    </script>
    <script src="app/views/js/buttonAddTables.js">
    </script>
</body>

</html>