<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="app/views/css/mobileSelectData.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <script src="app/views/js/redirect2.js"> -->
    <!-- </script> -->
    <div class="box" id="idBox">
        <header>
            <p>Here you select data!</p>
        </header>
        <table>
            <tr>
                <th>Columns</th>
                <th><input type="text" placeholder="column_name" id="c1"></th>
            </tr>
            <tr>
                <th>Condition</th>
                <th><input type="text" placeholder="Condition" id="c2"></th>
            </tr>
            <tr>
                <th>Group By</th>
                <th><input type="text" placeholder="column_name" id="c3"</th>
            </tr>
            <tr>
                <th>Condition</th>
                <th><input type="text" placeholder="Condition" id="c4"></th>
            </tr>
        </table>
        <div class="wheresBtn">
            <button class="clb" id="cvBut">Select</button>
        </div>
        
    </div>

    <script src="app/views/js/mobileSelectData.js">
    </script>
    
</body>
</html>