<!DOCTYPE html>
<html lang="en">
<head>
        <base href="/" />
    <link rel="stylesheet" type="text/css" href="app/views/css/mobileInsertData.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <script src="app/views/js/redirect2.js"> -->
    <!-- </script> -->
    <div class="box">
        <header>
            <p>Insert Into Database</p>
        </header>
        <form action="check" method="GET">
            <div class="insT">
                <label>Columns</label>
                <input type="text" placeholder="Column_Names" id="c1">
            </div>
            <div class="insT">
                <label id="lb1">Values</label>
                <input type="text" placeholder="Values for columns" id="c2">
            </div>
        </form>
        <div class="wheresBtn">
            <button type="submit" class="clb" id="cvBut">Insert</button>
        </div>

        <p id="result"></p>
        
    </div>
    <script src="app/views/js/mobileInsertData.js"></script>
    
</body>
</html>