<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="app/views/css/mobileAccountPage.css">
</head>
<body>
    <!-- <script src="app/views/js/redirect2.js"> -->
    <!-- </script> -->
    <div class="box">
        
        <p id="title"> Table1 </p>

        <a class="btn" href="mobileStructure.html" id="structureLink"> Structure </a>
        <a class="btn" href="mobileSelectData.html" id="selectDataLink"> Select data </a>
        <a class="btn" href="mobileInsertData.html" id="insertDataLink"> Insert data </a>
        <a class="btn" href="mobileAlterTable.html" id="alterTableLink"> Alter table </a>
       
        
    </div>

    <script src="app/views/js/mobileTable.js">
    </script>

</body>
</html>