<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/mobileAccountPage.css">
</head>

<body>
    <script src="../js/redirect2.js">
    </script>
    <div class="box">
        <p> Create procedure</p>

        <form action="Procedure1" method="GET" >
            
            <input type="text" placeholder="Name of procedure" id="name"> 

            <textarea class="textArea" placeholder="Content of procedure" rows=10></textarea>            
             <button class="small-btn" id="Edit" onclick="return false;"> Save</button>
                


        </form>
        


    </div>
</body>

</html>