<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/mobileAccountPage.css">
</head>
<body>
    <script src="../js/redirect2.js">
    </script>
    <div class="box">
        
        <p> Add new item </p>
        
        <textarea class="textArea"> </textarea>
        <button class="btn"> Add view </button>

        <textarea class="textArea"> </textarea>
        <button class="btn"> Add trigger </button>

        <textarea class="textArea"> </textarea>
        <button class="btn"> Add foreign key </button>

        <textarea class="textArea"> </textarea>
        <button class="btn"> Add indexes </button>


        
    </div>

</body>
</html>