<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../css/mobileChangePass.css">
    <link rel="stylesheet" media="screen and (min-width: 758px)" href="../css/iPadLogin.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<body>
    <script src="../js/redirect2.js">
    </script>
    <div class="mobileSize">
        <div class="allForm">
            <form action="../../accountService/controllers/home.php" method="POST">
                <div class="signIn">
                    <!-- <img src="finish.png" alt="logo" id="logo"> -->
                    <h3>Change Pass BACHsql.</h3>
                    <input type="text" id="mail" placeholder="Old Password" required>

                    <input type="text" id="username" name="newPass" placeholder="New Password" required>

                    <input type="password" id="loginPass" name="confirmNewPass" placeholder="Confirm New Password" required>

                    <button type="submit" id="buttonCP">Change</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>