<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/mobileAccountPage.css">
</head>

<body>
    <script src="../js/redirect2.js">
    </script>
    <div class="box">

        <p id="ShareTitle"> Select elements that you want to share </p>
        <form action="share" method="GET">
            <div class="container">
                <input type="checkbox" /> Table1 <br />
                <input type="checkbox" /> Table2 <br />
                <input type="checkbox" /> Query1 <br />
                <input type="checkbox" /> Query2 <br />
                <input type="checkbox" /> Function1 <br />
                <input type="checkbox" /> Function2 <br />
                <input type="checkbox" /> Procedure1 <br />
                <input type="checkbox" /> Procedure2 <br />

            </div>

            <div class="flexbox">
                <div>
                    <input type="radio" name="access" /> View Only <br />
                </div>
                <div>
                    <input type="radio" name="access" /> Modify access <br />
                </div>
            </div>

            <input id="collaborator" type="text" placeholder="Email of collaborator" >

            <button class="btn" type="submit" onclick="return false;">
                Share
            </button>

        </form>



    </div>


</body>

</html>