<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/mobileAccountPage.css">
</head>

<body>
    <script src="../js/redirect2.js">
    </script>
    <div class="box">

        <p> Select elements </p>
        <form action="generateCode" method="POST">
            <div class="container">
                <input type="checkbox" /> Table1 <br />
                <input type="checkbox" /> Table2 <br />
                <input type="checkbox" /> Query1 <br />
                <input type="checkbox" /> Query2 <br />
                <input type="checkbox" /> Function1 <br />
                <input type="checkbox" /> Function2 <br />
                <input type="checkbox" /> Procedure1 <br />
                <input type="checkbox" /> Procedure2 <br />

            </div>

            <div class="flexbox">
                <div>
                    <input type="radio" name="lang" id="php"/> php <br />
                </div>
                <div>
                    <input type="radio" name="lang" id="Java"/> Java <br />
                </div>
            </div>

            <button class="btn" type="submit">
                Generate code
            </button>

        </form>



    </div>


</body>

</html>