<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/mobileAccountPage.css">
</head>
<body>
    <div class="box">

        <p> Database1</p>
        <a class="btn" href="mobileMainPage.html"> Write your SQL </a>
        <a class="btn" href="mobileTables.html"> Tables </a>
        <a class="btn" href="mobileQueries.html"> Queries </a>
        <a class="btn" href="mobileProcedures.html"> Procedures</a>
        <a class="btn" href="mobileFunctions.html"> Functions </a>
        <a class="btn" href="mobileCollaborate.html"> Collaborate </a>
        <a class="btn" href="mobileGenerateCode.html"> Generate Code </a>

       

    </div>


</body>
</html>