<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="app/views/css/mobileAccountPage.css">
</head>
<body>
    <!-- <script src="app/views/js/redirect2.js"> -->
    <!-- </script> -->
   
    <div class="box">

        <p id="databaseTitle"> Database1</p>
        <a class="btn" href="m.bachsql/mainpage" id="mainPageLink"> Write your SQL </a>
        <a class="btn" href="mobileTables.html" id="tablesLink"> Tables </a>
        <a class="btn" href="mobileQueries.html"> Queries </a>
        <a class="btn" href="mobileProcedures.html"> Procedures</a>
        <a class="btn" href="mobileFunctions.html"> Functions </a>
        <a class="btn" href="mobileCollaborate.html"> Collaborate </a>
        <a class="btn" href="mobileGenerateCode.html"> Generate Code </a>

       

    </div>

    <script src="app/views/js/mobileDatabase.js">
    </script>



</body>
</html>