<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/mobileAccountPage.css">

</head>

<body>

    <div class="box"> 
        <img id="user" src="../css/user.png" alt="userimg">
        <p class="name"> Name </p>
        <a class="btn" href="mobileLogin.html"> Logout </a>
        <a class="btn" href="mobileChangePass.html"> Change password </a>
        <a class="btn" href="mobileDatabases.html"> Databases</a>

    </div>

</body>

</html>