<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/mobileAccountPage.css">
</head>

<body>

    <div class="box" id="idBox">

        <p> My databases</p>
        <div class="divBx">
            <a class="btn" onmousedown="mouseDown()" href="mobileDatabase.html"> Database 1 </a>
        </div>
        <div class="divBx">
            <a class="btn" onmousedown="mouseDown()" href="mobileDatabase.html"> Database 2 </a>
        </div>

        
      
            <form class="hidden" >
            <input type="text" placeholder="Name of new database" id="nmn" required>
            <button onclick="AddCol(); return false;" class="small-btn"> Create</button>
             </form>
            
      
        
        <div class="buttons">

            

            <button class="small-btn" id="Add">
               Add
            </button>
            <button onclick="removeF();return false;" class="small-btn" id="Edit">
               Edit
            </button >

        </div>
    </div>


    <script>
            let addBtn = document.getElementById('Add');
            let menu = document.querySelector('.hidden');
    
            addBtn.addEventListener('click', () => {
                menu.classList.add('is--open');
            });
    
            document.addEventListener('keyup', (e) => {
                if(e.key === 'Escape' || e.keyCode ===27) {
                    menu.classList.remove('is--open');
                }
            })
            function rmvIt(){
                document.getElementById("idBox").removeChild(this.parentNode);
            }
            function adevarat(){
                document.getElementsByClassName("divBx").addEventListener('click',rmvIt);
            }
            function removeF()
            {
                var ell=document.createElement('button');
                ell.innerText="X";
                ell.style.fontSize="15px";
                ell.style.backgroundColor="#ff6666";
                ell.style.color="white";
                ell.style.border="none";
                ell.style.position="absolute";
                ell.style.top="26%";
                ell.style.left="-15%";
                ell.style.borderRadius="50%";
                ell.addEventListener('click',()=>alert('Alerta'));
                /*ell.onclick=function(){
                    alert('MESAJ!');
                    document.getElementById("idBox").removeChild(this.parentNode);
                };*/
                for(var i=0;i<document.getElementsByClassName("divBx").length;i++)
                {
                    document.getElementsByClassName("divBx")[i].appendChild(ell.cloneNode(true));
                }
                
            }
            function AddCol(){
                var tag=document.createElement("a");
                var cntM=document.createElement("div");
                tag.className="btn";
                if(document.getElementById("nmn").value=='')
                {
                    alert("Database must have a name!");
                    return false;
                }
                cntM.position="relative";
                var t=document.createTextNode(document.getElementById("nmn").value);
                tag.appendChild(t);
                cntM.classList.add("divBx");
                cntM.id=(document.getElementsByClassName("divBx").length).toString();
                cntM.appendChild(tag);
                document.getElementById("idBox").appendChild(cntM);
                document.getElementById("nmn").value='';
            }
    </script>

</body>

</html>