<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="app/views/css/mobileMainPage.css">
    <link rel="stylesheet" media="screen and (min-width: 758px)" href="app/views/css/iPadMainPage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <script src="../js/redirect2.js">
    </script> -->
    <header class="menu">
        <div>
            <button type="button" id="menuBtn">Menu</button>
            <button onclick="AddElement()">Collaborate</button>
            <a href="app/views/html/mobileAccountPage.html" class="logoMic"><img id="lluno" src="app/views/css/whiteUser.png" alt="none"></a>
        </div>
    </header>
    <div class="mnuCnt" id="idMnuCnt">
        <button type="button" class="sv" id="saveBtn"><img class="lluno2" src="app/views/css/save-button.png" alt="none"></button>
        <button type="button" class="upd" id="runBtn"><img class="lluno2" src="app/views/css/upload-button.png" alt="none"></button>
        <button type="button" class="gen"><img class="lluno2" src="app/views/css/generatePhoto.png" alt="none"></button>
    </div>
    <div class="mainForm" id="mnFrm" onmousedown="whichEl()">
        <div class="conti">
            <textarea id="schemaArea">SQL Schema</textarea>
            <div class="result hidden" id="schemaResult"> 
                    <button class="closeButton">✖</button> 
                    <p id="stextResult"></p>
            </div>
        </div>
        <div class="conti" id="conti1">
            <textarea id="queryArea">Queries</textarea>
            <div class="result hidden" id="queryResult"> 
                    <button class="closeButton">✖</button> 
                    <p id="qtextResult"></p>
            </div>
            <select id="selectDatabase"> </select>
        </div>
    </div> 

    
       
    <script src="app/views/js/mobileMainPage.js">
          
    </script>
</body>
</html>