body,
html{
    height: 100%;
    overflow: hidden;
}

.allPhotos {
    display: grid;
    grid-template-columns: auto auto;

    height: 100%;

    opacity: 0.5;
  }

.photo {
    border: 1px solid white;
    padding: 20px;
    text-align: center;

    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* put backGround for every dreptunghi */
.tableStructure {
    background-image: url(tableStructure.jpg);
}

.Indexes{
    background-image: url(Indexes.png);
}

.Triggers{
    background-image: url(Triggers.jpg);
}

.Foreign{
    background-image: url(Foreign.jpg);
}

.Views{
    background-image: url(Views.jpg);
}

.selectData{
    background-image: url(selectData.jpg);
}

.insertData{
    background-image: url(insertData.jpg);
}

.addNew{
    background-image: url(addNew.jpg);
}

/* hide Div's for every dreptunghi */
.Structure{
    position: absolute;
    top:13%;
    left: 37%;
    width: 25%;
    height: 75%;

    border: 1px solid white;;
    border-radius: 10%;
    background-image: url(webpage.jpg);
    background-size: cover;
    
  

}

/* modfiy button Close */
.buttonClose{
    position: absolute;
    top: 2%;
    right: 3%;

    height: 8%;
    width: auto;

    outline: 0;
}

/* hide all forms */
.hideTableStructure{
    display: none;
}

#idStr{
    display: none;
    text-align: center;

}

.name{
    background: transparent;
    border: 1px solid white;
    height: 30px;
    margin-bottom: 10%;

    width: 100%;

}

.nameInsert{
    background: transparent;
    border: 1px solid white;
    height: 30px;
    margin-bottom: 10%;

    width: 100%;

}

.interiorInsert{
    position: absolute;
    top: 20%;
    width: 50%;
    left: 25%;
}

h2{
    color:white;
}

::placeholder{
    color:white;
    padding-left: 2%;
}

name
{
    color:white;
}

.labelType{
    display: block;
    color: white;

    position: relative;
    left:-6%;
    margin-bottom: 5%;
}

.labelType #options{
    width: 65.5%;

}

.size{
   display: block;
   color: white;
   left:2%;
   position: relative;
   text-align: left;
   
   margin-bottom: 5%;
}

.size #size{
    width: 17.5%;

    position: relative;
    left: 2%;
}
.null{
    display: block;
    color: white;
    left:2%;
    position:relative;
    margin-bottom: 25%;
    text-align: left;
}

a,
button{
    height: 15%;

    text-decoration: none;
    border: 1px solid white;
    background: transparent;

    color: white;
    padding:5%;
}

p {
    position:relative;
    text-align: center;
    color:white;
}

.interiorTableStructure{
    position: absolute;
    top: 20%;
    left: 20%;
}
#idAddN textarea
{
    width:78%;
    margin-bottom:2%;
}


#idAddN p
{
    font-size:180%;
    color:white;
    font-family:"Comic Sans MS";
}

#idAddN .btn
{
    display:block;
    background-color:transparent;
    border:1px solid white;
    color:white;
    text-decoration:none;
    width:80%;
    margin-bottom:5%;
    border-radius:10px 0 10px 0;
    height:30px;
    font-family:"Arial";
    padding-top:7px;
    outline:none;
  
    margin-left:10%;


}

#idAddN .btn:focus
{
    transform: scale(1.2);

}

#idAddN
{
    /* display: block; */
    text-align:center;
}

#idInsData{
    display: block;
}

#idSelDat header{
    padding-top:15px;
    margin-left:5%;
    margin-top:10%;
}

#idSelDat table,tr,th{
    margin-left:6%;
    margin-right:6%;
    font-size:100%;
    padding-right:15px;
    color:white;
}
#idSelDat th input{
    height:28px;
}
#idSelDat .clb{
    color:white;
    font-family:"Arial";

    background-color:transparent;
    border:1px white solid;
    border-radius:10px 0 10px 0;
    padding:10px;
    outline:0;
    margin-top:10%;
   

    
}

#idSelDat .wheresTbl{
    width:90%;
    margin-top:5%;
    padding-top:5%;
    padding-bottom:5%;
    margin-bottom:25%;
    text-align:center;
    display:none;
    border:1px solid white;
}


#idSelDat p
{
    font-size:180%;
    color:white;
    font-family:"Comic Sans MS";
    
}

#idSelDat
{
    text-align:center;
   
}