  body,
    html{
        text-align: center;
    
        background-size:100% 100%;
        background-image: url(2.jpg);
        background-repeat:no-repeat;
    
        height: 100%;
        position: fixed;    
        width: 100%;
    }
    
    .allForm{
        display: inline-block;
    
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
        background-image: url(1.jpg);
        background-size:100% 100%;
        background-repeat:no-repeat;
    
        position: relative;
        width: 55%;
        text-align: center;
        margin-top: 5%;
    }
    .title{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:white;
        margin-top: 40%;
        margin-bottom: 25%;
        margin-left: 10%;
        text-align: left;
        font-size: 120%;
        
    }
    
    h3{  
        position: relative;
        margin-bottom: -5%;
        font-size: 180%;
    }
    
    p{
        font-size: 90%;
    }
    
    .signIn #username,
    .signIn #loginPass,
    .signIn #mail{
        border-radius: 20px 0 20px 0;
       
        width: 80%;
        margin-left: 10%;
        height: 60px;
        outline: 0; 
        border: 1px solid white;
        background-color: transparent;
    
    }
    ::placeholder{
        color: white;
        padding-left: 5%;
        font-size: 135%;
    
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: normal;
    }
    /* Style for placeholder */
    input {
        color:white;
    }
    
    input:focus, textarea:focus{
        color:white;
        padding-left: 5%;
    }
    
    ::placeholder-shown{
        color: white;
    }
    
    [placeholder]:focus::-webkit-input-placeholder{
        transition: opacity 0.4s 0.4s ease; 
        opacity: 0;
    }
    #mail{
        display: block;
        margin-bottom: 20px;
    }
    
    #username{
        display: block;
        margin-bottom: 20px;
    }
    
    #loginPass{
        display: block;
        margin-bottom: 20px;
    }
    
    #buttonRegister{
        display: inline-block;
        border: none;
        text-decoration: none;
        
        background-repeat: no-repeat;
        background: none;
    
        height: 55px; 
        width: 80px; 
        margin-bottom:55%;
        margin-top:15%; 
        box-sizing: content-box;
    
        color:white;
        border: 1px solid white;
        /* border-radius: 10px 0 10px 0; */
        font-size: 115%;
    }
    
    .register a{
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        color: white;
        text-decoration: none;
        width: 300px;
    
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: normal;
        font-size: 120%;
    }
    