body,html{
    background-size:cover;
    background-image: url(webpage2.jpg);
    background-repeat:no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    padding-top: 5%;
}


.interior{

    display: inline-block;
    background-color:white;
    width: 70%;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3%;
    position:relative;
}
h3{  
    margin-top: 40%;
    color: white;
    margin-bottom:25%;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
}


.stanga{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size:cover;
    background-image: url(stang.jpg);
    background-repeat:no-repeat;
    width: 30%;
    height: 90%;
    position:absolute;
    left:5%;
    top:5%;
    border-radius: 3%;
    
    
}
.stanga .logo{
    position: absolute;
    right: 0.00005%;
}
.stanga .imgf{
    position: absolute;
    bottom:2%;
    left:5%;
}


.dreapta{
    
    width: 30%;
    height: 90%;
    position:absolute;
    left:50%;
    top:1%;
    border-radius: 3%;
}
h4{  
    margin-top: 40%;
    color: rgb(175, 109, 23);
    margin-bottom:25%;
   font-size: 200%;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
}
.signIn #username,
.signIn #loginPass,
.signIN #buttonLogin{
    border-radius: 10px 0 10px 0;
   
    width: 80%;
    margin-left: 10%;
    height: 30px;
    outline: 0; 
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;

}
::placeholder{
    color: black;
    padding-left: 5%;

    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
}
/* Style for placeholder */
input {
    color:black;
}

input:focus, textarea:focus{
    color:black;
    padding-left: 5%;
}

::placeholder-shown{
    color: black;
}

[placeholder]:focus::-webkit-input-placeholder{
    transition: opacity 0.4s 0.4s ease; 
    opacity: 0;
}

#username{
    display: block;
    margin-bottom: 20px;
}

#loginPass{
    display: block;
    margin-bottom: 20px;
}

#buttonLogin{
    display: inline-block;
    border: none;
    text-decoration: none;
    background-image: url(submit.png);
    background-color: transparent;
    background-size: cover;
    
    background-repeat: no-repeat;

    height: 40px; 
    width: 40px; 
    margin-bottom:55%;
    margin-top:15%; 
    box-sizing: content-box;
}

.register a{
    position: absolute;
    bottom: 0;
    font-size: 80%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    left: 25%;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal; 
}

.register #fpas{
   left: 10%;
   bottom: -6%;
}
.register #reg{
left: 60%;
bottom: -6%;
}





